.footer {
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
